<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <link rel="stylesheet" href="../../public/css/inquiry-details-style.css"
          th:href="@{/css/inquiry-details-style.css}">
</head>
<body>


<div class="page">

    <div class="right-flex-container">

        <div class="right-nav-bar-container">

            <div class="order-nav-bar-left">

                <input type="radio" class="radio" id="stykliste" name="nav" value="stykliste">
                <label for="stykliste">Stykliste</label>
<!--                <button>Stykliste</button>-->
                <input type="radio"  id="beskrivelse" name="nav" value="beskrivelse">
                <label for="beskrivelse">Beskrivelse</label>
<!--                <button>Beskrivelse</button>-->
            </div>

            <div class="order-nav-bar-right">
                <form>
                    <button type="submit" formaction="viewAllOrders">Tilbage</button>
                </form>

                <form method="post" th:if="${order.status.statusID == 1}">
                    <input type="hidden" name="orderID" th:value="${order.orderID}">
                    <button formaction="approveInquiry">Godkend</button>
                </form>

                <button>Ret</button>
            </div>
        </div>

        <div class="products-table">

            <table>
                <thead>
                <th>Vare Nummer</th>
                <th>Navn</th>
                <th>Længde</th>
                <th>Stk. Pris</th>
                <th>Antal</th>
                <th>Enhed</th>
                </thead>

                <tbody>
                <tr th:each="product : ${productListItems}">
                    <td th:text="${product.productID}"></td>
                    <td th:text="${product.productName}"></td>
                    <td th:text="${product.length}"></td>
                    <td th:text="${product.price}"></td>
                    <td th:text="${product.quantity}"></td>
                    <td th:text="${product.unit}"></td>

                </tr>

                </tbody>
            </table>
        </div>
    </div>

    <div class="left-flex-container">

        <div class="order-details">

            <table>
                <tbody>
                <tr>
                    <th>Dato</th>
                    <td th:text="${order.date}"></td>
                </tr>

                <tr>
                    <th>Ordre Nr.</th>
                    <td th:text="${order.orderID}"></td>
                </tr>

                <tr>
                    <th>Status</th>
                    <td th:text="${order.status.name}"></td>
                </tr>

                <tr>
                    <th>Bredde</th>
                    <td th:text="${order.carportWidth.width}"></td>
                </tr>

                <tr>
                    <th>Længde</th>
                    <td th:text="${order.carportLength.length}"></td>
                </tr>

                <tr>
                    <th>Kunde</th>
                    <td th:text="${order.user.name}"></td>
                </tr>

                </tbody>
            </table>
        </div>

        <div class="cost-display">


            <p>akjdhjwaudwahj,dawujdwa</p>

        </div>
    </div>

</div>
</body>
</html>