<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <link rel="stylesheet" href="../../public/css/inquiry-details-style.css" th:href="@{/css/inquiry-details-style.css}">
    <link th:href="@{/css/header-styles.css}" rel="stylesheet"/>
</head>

<div th:replace="~{fragments/header :: header(isLoggedIn=${session.currentUser != null})}"></div>

<body>


<div class="page">

    <div class="right-flex-container">

        <div class="right-nav-bar-container">

            <div class="order-nav-bar-right">

                <form method="post">

                    <a class="popup-button cancel-button" th:href="'#popup-confirm-cancel-' + ${order.orderID}" th:if="${order.status.statusID} < 3">Annuller</a>

                    <div th:id="'popup-confirm-cancel-' + ${order.orderID}" class="popup">
                        <div class="content">

                            <p>Er du sikker på du vil annulere ordren?</p>
                            <button type="submit" formaction="/anuller-ordre" name="orderID" class="cancel-button" th:value="${order.orderID}" th:if="${order.status.statusID} < 3"

                            style="position: absolute; right: 10px; bottom: 10px;">Annuller</button>

                            <a href="#"
                               style="position: absolute; top: 10px; right: 10px; color: #000000; font-size: 30px; text-decoration: none;">&times;</a>
                        </div>
                    </div>
                </form>

                <form>
                    <button type="submit" formaction="/alle-ordrer">Tilbage</button>
                </form>


            </div>

        </div>

        <div class="tabs">

            <input type="radio" class="radio" id="stykliste" name="nav" value="stykliste" checked>
            <label for="stykliste" class="tabs-label">Stykliste</label>

            <div class="products-table">

                <table>
                    <thead>
                    <th>Vare Nummer</th>
                    <th>Navn</th>
                    <th>Længde</th>
                    <th>Stk. Pris</th>
                    <th>Antal</th>
                    <th>Enhed</th>
                    </thead>

                    <tbody>
                    <tr th:each="product : ${productListItems}">
                        <td th:text="${product.productID}"></td>
                        <td th:text="${product.productName}"></td>
                        <td th:text="${product.length}"></td>
                        <td th:text="${product.costPrice}"></td>
                        <td th:text="${product.quantity}"></td>
                        <td th:text="${product.unit}"></td>

                    </tr>

                    </tbody>
                </table>
            </div>

            <input type="radio" class="radio" id="beskrivelse" name="nav" value="beskrivelse">
            <label for="beskrivelse" class="tabs-label">Beskrivelse og skitse</label>
            <div class="svg-and-description">
                <p th:text="${order.description}"></p>
                <p class="svg-drawing" th:utext="${svgDrawing}">Carport skitse: </p>
            </div>

        </div>
    </div>

    <div class="content-container">


    </div>


    <div class="left-flex-container">

        <div class="order-details">
            <h3>Detaljer</h3>


            <div class="order-details-table">


                <table>
                    <tbody>
                    <tr>
                        <th>Dato</th>
                        <td th:text="${order.date}"></td>
                    </tr>

                    <tr>
                        <th>Ordre Nr.</th>
                        <td th:text="${order.orderID}"></td>
                    </tr>

                    <tr>
                        <th>Status</th>
                        <td th:text="${order.status.name}"></td>
                    </tr>

                    <tr>
                        <th>Bredde</th>
                        <td th:text="${order.carportWidth.width}"></td>
                    </tr>

                    <tr>
                        <th>Længde</th>
                        <td th:text="${order.carportLength.length}"></td>
                    </tr>

                    <tr>
                        <th>Skur</th>
                        <td th:if="${order.shed} == true">Ja</td>
                        <td th:if="${order.shed} == false">Nej</td>
                    </tr>

                    <tr>
                        <th>Kunde</th>
                        <td th:text="${order.user.name}"></td>
                    </tr>

                    <tr>
                        <th>Email</th>
                        <td th:text="${order.user.email}"></td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>

        <div class="cost-display-container">

            <input type="checkbox" id="toggleDivs">
            <label for="toggleDivs" th:if="${order.status.statusID == 1}"></label>

            <div class="cost-display">

                <h3>Dækningsgrad før prisforslag</h3>
                <table>
                    <tbody>
                    <tr>
                        <th style="color: #00CC66">Profit</th>
                        <td th:text="${profitPrice} + ' kr'" style="color: #00CC66"></td>
                    </tr>

                    <tr>
                        <th>Kostpris</th>
                        <td th:text="${costPrice} + ' kr'"></td>
                    </tr>

                    <tr>
                        <th style="color: #EC3F3F">Dækningsgrad</th>
                        <td th:text="${degreeOfCoverage} + ' %'" style="color: #EC3F3F">%</td>
                    </tr>
                    </tbody>
                </table>

                <h3>Prisforslag og behandlingsgebyr</h3>
                <table>
                    <tbody>

                    <tr>
                        <th>Behandlings gebyr</th>
                        <td th:text="${processFee} + ' kr'"></td>
                    </tr>
                    <tr>
                        <th style="color: #00CC66" >Prisforslag</th>
                        <td th:text="${totalPrice} + ' kr'" style="color: #00CC66"></td>
                        <div style="color:red" th:if="${wrongPrice}">
                            <p th:text="${wrongPrice}"></p>
                        </div>
                    </tr>

                    </tbody>
                </table>
                <form method="post">
                <div class="cost-display-container-buttons" th:if="${order.status.statusID == 1}">
                    <!--                    <input type="hidden" name="newTotalPrice" value="5000">-->
                    <input type="hidden" name="totalPrice" th:value="${totalPrice}">
                    <input type="hidden" name="costPrice" th:value="${costPrice}">
                    <input type="hidden" name="orderID" th:value="${order.orderID}">

                    <button formaction="/godkend-forespoergelse">Godkend</button>
                </div>
                </form>
            </div>

            <div class="edit-cost">

                <form method="post">
                    <h3>Dækningsgrad før prisforslag</h3>
                    <table>
                        <tbody>
                        <tr>
                            <th style="color: #00CC66">Profit</th>
                            <td th:text="${profitPrice} + ' kr'" style="color: #00CC66"></td>
                        </tr>

                        <tr>
                            <th>Kostpris</th>
                            <td th:text="${costPrice} + ' kr'"></td>
                        </tr>

                        <tr>
                            <th style="color: #EC3F3F">Dækningsgrad</th>
                            <td th:text="${degreeOfCoverage} + ' %'" style="color: #EC3F3F"></td>
                        </tr>
                        </tbody>
                    </table>

                    <h3>Prisforslag og behandlingsgebyr</h3>
                    <table>
                        <tbody>

                        <tr>
                            <th>Behandlings gebyr</th>
                            <td th:text="${processFee} + ' kr'"></td>
                        </tr>
                        <tr>
                            <th style="color: #00CC66">Prisforslag</th>
                            <td>
                                <input type="text" name="totalPrice" th:value="${totalPrice}" style="color: #00CC66">
                            </td>
                        </tr>

                        </tbody>
                    </table>
                    <div class="cost-display-container-buttons" th:if="${order.status.statusID == 1}">
                        <!--                    <input type="hidden" name="newTotalPrice" value="5000">-->
                        <input type="hidden" name="costPrice" th:value="${costPrice}">
                        <input type="hidden" name="orderID" th:value="${order.orderID}">

                        <button formaction="/forespoergelses-detaljer">Opdater</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
</body>
</html>