<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <link rel="stylesheet" href="../../public/css/inquiry-details-style.css"
          th:href="@{/css/inquiry-details-style.css}">
</head>
<body>


<div class="page">

    <div class="right-flex-container">

        <div class="right-nav-bar-container">

            <div class="order-nav-bar-right">
                <form>
                    <button type="submit" formaction="viewAllOrders">Tilbage</button>
                </form>

                <form method="post" th:if="${order.status.statusID == 1}">
                    <input type="hidden" name="orderID" th:value="${order.orderID}">
                    <button formaction="approveInquiry">Godkend</button>
                </form>

                <button>Ret</button>
            </div>

        </div>

        <div class="tabs">

            <input type="radio" class="radio" id="stykliste" name="nav" value="stykliste" checked>
            <label for="stykliste" class="tabs-label">Stykliste</label>

            <div class="products-table">

                <table>
                    <thead>
                    <th>Vare Nummer</th>
                    <th>Navn</th>
                    <th>Længde</th>
                    <th>Stk. Pris</th>
                    <th>Antal</th>
                    <th>Enhed</th>
                    </thead>

                    <tbody>
                    <tr th:each="product : ${productListItems}">
                        <td th:text="${product.productID}"></td>
                        <td th:text="${product.productName}"></td>
                        <td th:text="${product.length}"></td>
                        <td th:text="${product.price}"></td>
                        <td th:text="${product.quantity}"></td>
                        <td th:text="${product.unit}"></td>

                    </tr>

                    </tbody>
                </table>
            </div>

            <input type="radio" class="radio" id="beskrivelse" name="nav" value="beskrivelse">
            <label for="beskrivelse" class="tabs-label">Beskrivelse</label>

            <div class="svg-and-description" th:utext="${svgDrawing}">


            </div>

        </div>
    </div>

    <div class="content-container">


    </div>


    <div class="left-flex-container">

        <div class="order-details">
            <h3>Detaljer</h3>


            <table>
                <tbody>
                <tr>
                    <th>Dato</th>
                    <td th:text="${order.date}"></td>
                </tr>

                <tr>
                    <th>Ordre Nr.</th>
                    <td th:text="${order.orderID}"></td>
                </tr>

                <tr>
                    <th>Status</th>
                    <td th:text="${order.status.name}"></td>
                </tr>

                <tr>
                    <th>Bredde</th>
                    <td th:text="${order.carportWidth.width}"></td>
                </tr>

                <tr>
                    <th>Længde</th>
                    <td th:text="${order.carportLength.length}"></td>
                </tr>

                <tr>
                    <th>Skur</th>
                    <td th:if="${order.shed} == true">Ja</td>
                    <td th:if="${order.shed} == false">Nej</td>
                </tr>

                <tr>
                    <th>Kunde</th>
                    <td th:text="${order.user.name}"></td>
                </tr>

                </tbody>
            </table>
        </div>

        <div class="cost-display">
            <form method="post">
                <h3>Dækningsgrad før prisforslag</h3>
                <table>
                    <tbody>
                    <tr>
                        <th>Profit margin</th>
                        <td th:text="${profitPrice}"></td>
                    </tr>

                    <tr>
                        <th>Kost pris</th>
                        <td th:text="${costPrice}"></td>
                    </tr>

                    <tr>
                        <th>Dækningsgrad</th>
                        <td th:text="${degreeOfCoverage}"></td>
                    </tr>
                    </tbody>
                </table>

                <h3>Prisforslag og behandlingsgebyr</h3>
                <table>
                    <tbody>

                    <tr>
                        <th>Behandlings gebyr</th>
                        <td th:text="${processFee}"></td>
                    </tr>
                    <tr>
                        <th>Prisforslag</th>
                        <td th:text="${totalPrice}"></td>
                    </tr>

                    </tbody>
                </table>
                <input type="hidden" name="newTotalPrice" value="5000">
                <input type="hidden" name="costPrice" th:value="${costPrice}">
                <input type="hidden" name="orderID" th:value="${order.orderID}">

                <button formaction="/forespoergelses-detaljer">Opdater</button>
            </form>

        </div>
    </div>

</div>
</body>
</html>