<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <link rel="stylesheet" href="../../public/css/admin-orders-style.css" th:href="@{/css/admin-orders-style.css}">

</head>
<body>

<header>
    <div class="top-nav">
        <form method="post">
            <button type="submit" formaction="viewAllOrders">Orders</button>
            <button>Forespørgsler</button>
            <button type="submit" formaction="storagePage">Lager</button>
        </form>
    </div>

</header>

<div id="page">
    <div class="centerpage">

        <div class="flex-filter">

            <form method="post" class="filter-menu">
                <div>
                    <button type="submit" name="filter" formaction="viewAllOrders">Alle</button>
                </div>
                <div th:each="status : ${statusList}">
                    <button type="submit" name="filter" th:value="${status.statusID}" formaction="filterByStatus"
                            th:text="${status.name}"></button>
                </div>
            </form>
        </div>


        <div class="table-container">

            <table class="orders-table">
                <thead>
                <tr>
                    <th>Dato</th>
                    <th>Order Nr.</th>
                    <th>Kunde Nr.</th>
                    <th>Kunde</th>
                    <th>Beskrivelse</th>
                    <th>Pris</th>
                    <th>Status</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="order : ${orderList}">
                    <form method="post">
                        <td th:text="${order.date}"></td>
                        <td th:text="${order.orderID}"></td>
                        <input type="hidden" name="orderID" th:value="${order.orderID}">
                        <td th:text="${order.user.userID}"></td>
                        <td th:text="${order.user.name}"></td>
                        <td th:text="${order.description}"></td>
                        <td th:text="${order.totalPrice}"></td>
                        <td th:text="${order.status.name}"></td>
                        <td>
                            <button type="submit" formaction="inquiryDetailsPage">Se ordre</button>
                        </td>
                    </form>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>
</html>