<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <link rel="stylesheet" href="../../public/css/admin-storage-style.css" th:href="@{/css/adminStorageStyle.css}">
    <link rel="stylesheet" href="../../public/css/global-styles.css" th:href="@{/css/global-styles.css}">
</head>
<body>

<header>

    <div class="top-nav">

        <form>
            <button type="submit" formaction="/alle_ordrer">Ordrer</button>
        </form>
        <form method="post">
            <button type="submit" formaction="/alle_ordrer_filter" name="filter" th:value="1">Forespørgsler</button>
        </form>
        <form method="get">
            <button type="submit" formaction="/lager">Lager</button>
        </form>
    </div>

</header>


<div>
    <div>

        <div>

            <form method="post">
                <table>
                    <thead>
                    <tr>
                        <th>Navn</th>
                        <th>Beskrivelse</th>
                        <th>Vare Type</th>
                        <th>Enhed</th>
                        <th>Kost Pris</th>
                        <th>Pris</th>
                        <th>Længde</th>
                        <th>Bredde</th>
                        <th>Højde</th>
                        <th>Lagerbeholdning</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr>
                        <td><input type="text" id="product-name" name="product-name" maxlength="100" required></td>
                        <td><input type="text" id="description" name="description" maxlength="250"></td>
                        <td>
                            <select required>
                                <option th:each="type : ${filtersList}" th:value="${type.typeID}" th:text="${type.name}"></option>
                            </select>
                            <!--                            <input type="text" id="type-id" name="type-id"></td>-->
                        <td>
                            <select required>
                                <option th:each="unit : ${unitList}" th:value="${unit.unitID}" th:text="${unit.name}"></option>
                            </select>
                            <!--                        <input type="text" id="unit-id" name="unit-id"></td>-->
                        <td><input type="number" id="cost-price" name="cost-price" required></td>
                        <td><input type="number" id="price" name="price" required></td>
                        <td><input type="number" id="length" name="length"></td>
                        <td><input type="number" id="width" name="width"></td>
                        <td><input type="number" id="height" name="height"></td>
                        <td><input type="number" id="amount" name="amount" value="0"></td>
                    </tr>
                    </tbody>
                </table>

                <button type="submit" formaction="addProduct">Tilføj</button>

            </form>

        </div>

        <div>

            <form>
                <div>
                    <button type="submit" name="filter" formaction="/lager">Alle</button>
                </div>
            </form>
            <form method="post">
                <div th:each="type : ${filtersList}">
                    <button type="submit" name="filter" th:value="${type.typeID}" formaction="filterByType"
                            th:text="${type.name}"></button>
                </div>
            </form>
        </div>


        <div>

            <table>
                <thead>
                <tr>
                    <th>Vare Nr.</th>
                    <th>Navn</th>
                    <th>Beskrivelse</th>
                    <th>Vare type</th>
                    <th>Bredde</th>
                    <th>Højde</th>
                    <th>Længde</th>
                    <th>Enhed</th>
                    <th>Enhed Pris</th>
                    <th>Lagerbeholdning</th>
                </tr>
                </thead>

                <tbody>
                <!--                fills the table with data from the product list on each row from the database-->
                <!--                some inputs are hidden and not displayed but still sent with the form so all data from the object-->
                <!--                can be used to update in the BD-->

                <tr th:each="product : ${productList}">
                    <form method="post">
                        <td><input type="text" name="productID" th:value="${product.productID}" disabled/></td>
                        <td><input type="text" name="name" th:value="${product.name}"/></td>
                        <td><input type="text" name="description" th:value="${product.description}"></td>
                        <td>
                            <!--                            <select>-->
                            <!--                                <option th:each="unit : ${unitList}" th:value="${unit.unitID}" th:text="${unit.name}"></option>-->
                            <!--                            </select>-->
                            <input type="text" th:value="${product.type.name}" disabled/></td>
                        <input type="hidden" name="typeID" th:value="${product.type.typeID}">
                        <td><input type="text" name="width" th:value="${product.width}"/></td>
                        <td><input type="text" name="height" th:value="${product.height}"/></td>
                        <td><input type="text" name="length" th:value="${product.length}"/></td>
                        <td><input type="text"  th:value="${product.unit.name}" disabled/></td>
                        <input type="hidden" name="unitID" th:value="${product.unit.unitID}">
                        <td><input type="text" name="price" th:value="${product.price}"/></td>
                        <input type="hidden" name="costPrice" th:value="${product.costPrice}">
                        <td><input type="text" name="quantity"  th:value="${product.quantity}"/></td>
                        <td><button type="submit" formaction="updateProduct">Opdater</button></td>
                    </form>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


</body>
</html>