#page {

    width: 100%;
    display: flex;
    justify-content: center;
}


.centerpage {

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
}



.table-container {
    display: flex;
    width: 100%;
    overflow-x: auto;
    justify-content: center;
}

.orders-table {
    width: 100%;
    border-collapse: collapse;
}

.orders-table th, .orders-table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-family: "Segoe UI Variable", serif;
    font-weight: 400;
}

.orders-table button {

    display: flex;
    height: 30px;
    width: 80px;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border: 1px solid #555555;
    color: #333333;;
    font-family: "Segoe UI Variable", serif;
    font-weight: 400;
}

.orders-table button:hover {

    background-color: #333333;
    color: white;
}

.orders-table th {
    background-color: #ffffff;
}

.orders-table tbody tr:nth-child(even) {
    background-color: #ffffff;
}

.orders-table tbody tr:hover {
    background-color: #ddd;
}

.orders-table [type="text"] {
    width: 100px;
    padding: 5px;
    box-sizing: border-box;
}

.orders-table td:nth-child(1) [type="text"] {
    width: 30px;
}

.orders-table td:nth-child(2) [type="text"] {
    width: 200px;
}
.orders-table td:nth-child(3) [type="text"] {
    width: 100px;
}

.orders-table input[type="text"]:disabled {
    background-color: transparent;
    border: none;
}


.flex-filter {

    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.filter-menu {

    display: flex;
    justify-content: center;
    align-items: center;
}


.filter-menu {

    gap: 10px;
}

.flex-filter button {

    display: flex;
    height: 3vh;
    width: 5vw;
    align-items: center;
    justify-content: center;
    background-color: #555555;
    border: 1px solid #555555;
    color: white;
    font-family: Graphik, -apple-system, system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 12px;
}

.flex-filter button:hover {

    background-color: #333333;
}