
#page {

    width: 100%;
    display: flex;
    justify-content: center;
}


.centerpage {

    width: 70%;
}

.filter-menu {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-filter {
    flex-direction: row;
}

.products-table td:nth-child(2) input[type="text"] {
    width: 200px;
}
.products-table td:nth-child(3) input[type="text"] {
    width: 100px;
}

.table-container {
    width: 100%;
    overflow-x: auto;
}

.products-table {
    width: 100%;
    border-collapse: collapse;
}

.products-table th, .products-table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.products-table th {
    background-color: #f2f2f2;
}

.products-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.products-table tbody tr:hover {
    background-color: #ddd;
}

.products-table input[type="text"] {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}

.products-table input[type="text"]:disabled {
    background-color: transparent;
    border: none;
}


/*.products-table {*/

/*    width: 100%;*/
/*    flex-direction: column;*/
/*    justify-content: center;*/

/*}*/




/*.products-table th, td {*/

/*    padding: 20px;*/
/*    max-width: 50px;*/
/*    text-align: center;*/

/*}*/