h1 {
    color: #333333;
    font-family: "Segoe UI Variable";
    font-weight: 400;
    font-size: 36px;

}

h2 {
    color: #333333;
    font-family: Segoe UI Variable;
    font-weight: 500;
    font-size: 20px;
}





