.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 0px 5px;
    /*border-bottom: 1px solid #ccc;*/
}

.logo button {
    border: none;
    background-color: transparent;
    padding: 0;
}

.logo img {
    height: 80px;
}


.user-actions img {
    height: 60px;
}