
.page {

    display: flex;
    width: 100%;
    height: 100%;

}

.left-flex-container {

    order: 1;
    width: 20%;
}

.right-flex-container {
    order: 2;
    width: 70%;
    height: 80%;
}

.right-nav-bar-container {

    display: flex;
}


.order-details {
    display: flex;
    /*grid-template-columns: auto auto; !* Two columns *!*/
    justify-content: flex-start;
    width: 30%;
}

.order-details table th {
    text-align: left; /* Align titles to the left */
}
.order-details table td {
    text-align: right; /* Align data to the right */
    padding-left: 30px;
}