
html, body {
    background-color: #013D7A;
    height: 100%;
    margin: 0px;
}


.h1-login-page {
    display: flex;
    justify-content: center;
    margin-block-end: 0px;
    margin-block-start: 0px;
}

.log-on-with-mail {
    /*margin-bottom: 12px;*/
    /*margin-left: 52px;*/
    margin-block-end: 0px;
    margin-block-start: 0px;

}

.create-user-href {
    color: #337AB7;
    /*margin-bottom: 16px;*/
    /*margin-top: 12px;*/
    /*margin-left: 52px;*/

}

.login-page {
    min-height: 100%;
    /*width: 100%;*/
    /*background-color: #013D7A;*/
    display: flex;
    align-items: center;
    justify-content: center;

}

.login-box {

    border-radius: 4px;
    background-color: white;
    /*display: flex;*/
    justify-content: flex-start;
    display: block;
    /*align-items: center;*/
    /*width: 464px; !* Set the width of the box *!*/
    /*height: 600px; !* Set the height of the box *!*/
    padding: 52px;
    padding-top: 136px;
    padding-bottom: 136px;
    /*margin: !* Center the box horizontally and add some margin *!*/
    /*padding: !* Add some padding inside the box *!*/
    /*border: 1px solid #ccc; !* Optionally, add a light gray border *!*/
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); !* Optionally, add a subtle shadow *!*/


}

.login-button {
    color: #ffffff;
    background-color: #296ec6;
    width: 60%;
    border: none;
    border-radius: 2px;
    padding: 10px 0px;
    transition: 200ms ease;
}

.login-button:hover {
    background-color: #1662c7;
}

.email-input {
    align-items: center;
    /*font-family: Segoe UI Variable;*/
    color: #555555;
    /*font-size: large;*/
    /*font-weight: 400;*/
    width: 360px;
    height: 50px;
    padding-left: 20px;
    /*margin-bottom: 12px;*/
    /*margin-top: 12px;*/
    /*margin-left: 52px;*/
    /*margin-right: 52px;*/
}

.email-input::placeholder {
    color: #555555;

}

.password-input {
    /*font-family: Segoe UI Variable;*/
    color: #555555;
    /*font-size: large;*/
    width: 360px;
    height: 50px;
    padding-left: 20px;
    /*    margin-top: 12px;*/
    /*    margin-bottom: 12px;*/
    /*    margin-left: 52px;*/
    /*    margin-right: 52px;*/
}

.forgot-password {
    margin-left: 52px;
}

.all-inputs {
    display: flex;
    flex-direction: column;
    gap: 12px;
    box-sizing: border-box;
}

.user-box-form{
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    /*gap: 16px;*/
}

.all-inputs-and-loginbutton{
    gap: 16px;
    display: flex;
    flex-direction: column;
}

.all-item-inside-login-box{
    gap: 20px;
    display: flex;
    flex-direction: column;
}

.all-item-inside-login-box img {
    height: 60px;
    object-fit: contain;
}

.error-text {
    color: #FF0000;
}

@media (max-width: 600px) {
    .email-input, .password-input {
        width: 300px;
    }

    .login-box {
        padding-left: 20px;
        padding-right: 20px;
    }
}




