<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<p> kontaktinformation </p>

<form method="get">
    <!--    <a th:href="@{/renderLoginPage}">Login</a>-->
    <a th:href="@{/renderSignupPage}">Opret bruger</a>
    <div>
        <!--        when logged in show contact info-->
        <div th:if="${session.currentUser != null}">

            <a th:href="@{/logout}">Logout</a>
        </div>
        <div th:if="${session.currentUser == null}">

            <a th:href="@{/login}">Login</a>

            <label><p>Fornavn</p></label>
            <input type="text" name="username">
            <br>
            <label><p>Efternavn</p></label>
            <input type="text">
            <br>
            <label><p>Email</p></label>
            <input type="email" name="email" required>
            <br>
            <label><p>Kodeord</p></label>
            <input type="password" name="password">
            <br>
            <label><p>Adresse</p></label>
            <input type="text">
            <br>
            <label><p>Post nr.</p></label>
            <input type="number" min="0">
            <br>
            <label><p>By</p></label>
            <input type="text">
            <br>
        </div>
    </div>
</form>
<div class="show-inquiry">
    <form method="post">
        <p th:text="${session.description}"></p>
        <br>
        <h3>Tegning:</h3>
        <p th:utext="${session.carportDrawing}"></p>
        <br>
        <h3>Estimeret pris: </h3>
        <p th:text="${session.estimatedPrice}"></p>
        <br>
    </form>
</div>

<form method="post">
    <button type="submit" formaction="ny-ordre">
        Send forespørgelse
    </button>
</form>

<div th:if="${alreadyExist}">
    <p th:text="${alreadyExist}"></p>
</div>


</body>
</html>