<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Frontpage</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
    <link th:href="@{/css/user/create-accept-inquiry-style.css}" rel="stylesheet" href="../../public/css/user/create-accept-inquiry-style.css">
    <link th:href="@{/css/global-styles.css}" rel="stylesheet" href="../../public/css/global-styles.css">
    <link th:href="@{/css/header-styles.css}" rel="stylesheet"/>
    <link href="https://fonts.cdnfonts.com/css/segoe-ui-variable" rel="stylesheet">
</head>

<div th:replace="~{fragments/header :: header(isLoggedIn=${session.currentUser != null})}"></div>

<body>

<!--Global header needed with links to customer order page and account info-->
<!--<h1>Velkommen til FOG </h1>-->

<div class="page">
    <form method="post" class="form">

        <h2 class="fontfix">Carport med fladt tag</h2>

        <div class="content-box">
            <div class="element">
                <label for="width">Carport bredde</label>
                <select id="width" name="carportWidth" class="input-field">
                    <option th:each="width : ${getAllWidth}" th:value="${width.carportWidthID}"
                            th:text="${width.width} + ' cm' "></option>
                </select>
            </div>

            <div class="element">
                <label for="length">Carport længde</label>
                <select id="length" name="carportLength" class="input-field">
                    <option th:each="length : ${getAllLength}" th:value="${length.carportLengthID}"
                            th:text="${length.length} + ' cm' ">
                    </option>
                </select>
            </div>

            <div class="element">
                <label for="roof">Carport trapeztag</label>
                <select id="roof" name="" class="input-field">
                    <option value="">Plastmo Ecolite</option>
                </select>
            </div>

            <div class="element">
                <label>Redskabsrum</label>
                <div class="radiobuttons">
                    <input id="shedTrue" type="radio" name="shed" value="true" required>
                    <label for="shedTrue">Ja</label>

                    <input id="shedFalse" type="radio" name="shed" value="false" required checked>
                    <label for="shedFalse">Nej</label>
                </div>
                <p class="fontfix">OBS. carporten vil få extra 140 cm. i længden</p>
            </div>

            <div class="element">
                <label for="textarea">Evt. bemærkninger eller særlige ønsker</label>
                <textarea id="textarea" class="textarea" name="remark" rows="10" cols="40" maxlength="240"
                          placeholder="Skriv din kommentar her ..."></textarea>
            </div>
        </div>

        <button formaction="/godkend-forespoergsel" class="btn-default">Næste</button>
    </form>
</div>

<!--        <input type="radio" name="shed" value="true">-->
<!--        <label>-->
<!--            Ja-->
<!--        </label>-->
<!--        <div class="radiobuttontext"> OBS. carporten vil få extra 140 cm. i længden</div>-->
<!--        <br>-->
<!--        <label>-->
<!--            <input type="radio" name="shed" value="false">-->
<!--            Nej-->
<!--        </label>-->

</body>
</html>