<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Frontpage</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/global-styles.css}" rel="stylesheet"/>
    <link th:href="@{/css/index-styles.css}" rel="stylesheet"/>
    <link th:href="@{/css/header-styles.css}" rel="stylesheet"/>

</head>

<div th:replace="~{fragments/header :: header(isLoggedIn=${session.currentUser != null})}"></div>

<body>


<!--<div th:if="${session.currentUser}">
    <h1 class="fontfix" th:text="'Velkommen, ' + ${#strings.capitalize(session.currentUser.name)}"></h1>
</div>-->

<div class="carports">
    <div class="standard-carport">
        <a href="https://www.johannesfog.dk/have-fritid/carporte">
            <img src="/images/standardcarport.png">
        </a>
    </div>

    <div class="custom-carport">
        <a href="/opret-forespoergsel">
            <img src="/images/bygselvcarport.png">
        </a>
    </div>
</div>



<br>
</div>

<!--<a th:href="@{/logout}">Logout</a>-->
<!--&lt;!&ndash;<form method="get">-->
<!--    <button formaction="/mine-ordrer">My Orders</button>-->
<!--</form>-->

<!--<form method="get">
    <button formaction="/lager">Storage Page</button>
</form>
<form method="get">
    <button formaction="/alle_ordrer">Admin Order Page</button>
</form>&ndash;&gt;-->


<button th:action="@{inquiryNext}"></button>
</body>
</html>