<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Forside</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/global-styles.css}" rel="stylesheet"/>
    <link th:href="@{/css/index-styles.css}" rel="stylesheet"/>
    <link th:href="@{/css/header-styles.css}" rel="stylesheet"/>
    <link href="https://fonts.cdnfonts.com/css/segoe-ui-variable" rel="stylesheet">

</head>


<div th:replace="~{fragments/header :: header(isLoggedIn=${session.currentUser != null})}"></div>

<body>

<div class="carports">
    <div class="standard-carport">
        <a href="https://www.johannesfog.dk/have-fritid/carporte">
            <img src="/images/standardcarport.png">
        </a>
    </div>

    <div class="custom-carport">
        <a href="/opret-forespoergsel">
            <img src="/images/bygselvcarport.png">
        </a>
    </div>
</div>

</body>
</html>