<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link th:href="@{https://fonts.cdnfonts.com/css/segoe-ui-variable}" rel="stylesheet"
          href="https://fonts.cdnfonts.com/css/segoe-ui-variable">

    <meta content="width=device-width, initial-scale=1" name="viewport"/>

    <link th:href="@{/css/global-styles.css}" rel="stylesheet" href="../../public/css/global-styles.css">
    <link th:href="@{/css/sign-up-style.css}" rel="stylesheet" href="../../public/css/sign-up-style.css">

    <title>Opret bruger</title>
</head>
<body>
<div class="create-user-page">

    <div class="create-user-box">


        <form class="user-box-form" method="post">
            <img src="/images/foglogo.png" alt="Logo">
            <h1 class="h1-signup-page fontfix">Opret FOG konto</h1>
            <div class="all-inputs">
                <input class="name-input" placeholder="Navn" type="text" name="username" required>

                <input class="email-input" placeholder="E-mailadresse" type="email" name="email" required>
                <!--   " type = password " giver os ******* når user skriver kodeordet-->

                <input class="password-input" placeholder="Kodeord" type="password" name="password" required>

                <p class="basic-p fontfix">
                    Har du allerede en konto?
                    <a class="login-href fontfix" th:href="@{/login}">Login</a>
                </p>
            </div>
            <button class="create-button fbody" type="submit" formaction="createUser">Opret bruger</button>

            <div th:if="${alreadyExist}">
                <p class="fbody fontfix" th:text="${alreadyExist}"></p>
            </div>


        </form>

    </div>
</div>

</body>
</html>