<header th:fragment="header(isLoggedIn)">
    <div class="header-container">
        <div class="logo">
            <a href="/">
                <img src="/images/foglogo.png" alt="Logo">
            </a>
        </div>
        <div class="user-actions">
            <span th:if="${isLoggedIn}">
                <a href="/logout">Log ud</a>
                <a href="/mine-ordrer">
                    <img src="/images/profileicon.png">
                </a>
            </span>
            <span th:if="${!isLoggedIn}">
                <a href="/login">
                    <img src="/images/profileiconlogin.png">
                </a>
            </span>
        </div>
    </div>
</header>