<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link th:href="@{https://fonts.cdnfonts.com/css/segoe-ui-variable}" rel="stylesheet"
          href="https://fonts.cdnfonts.com/css/segoe-ui-variable">

    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <link th:href="@{/css/header-styles.css}" rel="stylesheet"/>
</head>


<header th:fragment="header(isLoggedIn)">
    <div class="header-container">

        <a href="/" class="logo">
            <img src="/images/foglogo.png" alt="Logo">
        </a>

        <div class="user-actions">
            <span th:if="${isLoggedIn}">
                <a href="/logout">
                    <img src="/images/logout.png">
                </a>
                <a href="/mine-ordrer" th:if="${session.currentUser.roleID == 1}">
                    <img src="/images/profileicon.png">
                </a>
                <a href="/alle-ordrer" th:if="${session.currentUser.roleID == 2}">
                    <img src="/images/profileiconadmin.png">
                </a>
            </span>
            <span th:if="${!isLoggedIn}">
                <a href="/login">
                    <img src="/images/profileiconlogin.png">
                </a>
            </span>
        </div>
    </div>
</header>