<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <link rel="stylesheet" href="../public/css/adminStorageStyle.css" th:href="@{/css/adminStorageStyle.css}">
</head>
<body>


<div id="page">
    <div class="centerpage">

        <div class="flex-filter">

            <form method="post" class="filter-menu">
                <div>
                    <button type="submit" name="filter" formaction="storagePage">Alle</button>
                </div>
                <div th:each="type : ${filtersList}">
                    <button type="submit" name="filter" th:value="${type.typeID}" formaction="filterByType"
                            th:text="${type.name}"></button>
                </div>
            </form>
        </div>


        <div class="table-container">

            <table class="products-table">
                <thead>
                <tr>
                    <th>Vare Nr.</th>
                    <th>Navn</th>
                    <th>Vare type</th>
                    <th>Bredde</th>
                    <th>Højde</th>
                    <th>Længde</th>
                    <th>Enhed</th>
                    <th>Enhed Pris</th>
                    <th>Lagerbeholdning</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="product : ${productList}">
                    <form method="post">
                        <td><input type="text" name="productID" th:value="${product.productID}"/></td>
                        <td><input type="text" name="productName" th:value="${product.name}"/></td>
                        <td><input type="text" th:value="${product.type.name}"/></td>
                        <input type="hidden" name="typeID" th:value="${product.type.typeID}">
                        <td><input type="text" name="width" th:value="${product.width}"/></td>
                        <td><input type="text" name="height" th:value="${product.height}"/></td>
                        <td><input type="text" name="length" th:value="${product.length}"/></td>
                        <td><input type="text"  th:value="${product.unit.name}"/></td>
                        <input type="hidden" name="unitID" th:value="${product.unit.unitID}">
                        <td><input type="text" name="price" th:value="${product.price}"/></td>
                        <td><input type="text" name="quantity"  th:value="${product.quantity}"/></td>
                        <td><button type="submit" formaction="updateProduct">Opdater</button></td>
                    </form>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>