<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Frontpage</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>

<body>

<!--Global header needed with links to customer order page and account info-->

<h1>Fog Carport</h1>

<p>This is your first web application in this world</p>
<a th:href="@{/loginPage}">Login</a>
<form method="get">
    <button formaction="myOrders">My Orders</button>
</form>

<form method="get">
    <button formaction="showSVG">SVG Page</button>
</form>

<button th:action="@{inquiryNext}"></button>
</body>
</html>