<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>inquiry-submit</title>
</head>
<body>
<h1>Carport med fladt tag</h1>
<form>
    <label><h3>Carport bredde</h3></label>
    <br>
    <select name="">
        <option value="">100 Cm</option>
        <option value="">200 Cm</option>
        <option value="">300 Cm</option>
        <option value="">400 Cm</option>
    </select>
    <br>

    <label><h3>Carport længde</h3></label>
    <br>
    <select name="">
        <option value="">100 Cm</option>
        <option value="">200 Cm</option>
        <option value="">300 Cm</option>
        <option value="">400 Cm</option>
    </select>
    <br>
    <label><h3>Trapez tag</h3></label>
    <br>
    <select name="">
        <option value="">Plastmo Ecolite</option>
    </select>
    <br>
    <label><h3>Redskabsrum</h3></label>
    <br>
    <label>
        <input type="radio" name="" value="">
        Ja
    </label>
    <br>
    <label>
        <input type="radio" name="" value="">
        Nej
    </label>
    <br>
    <h3>Kommentar</h3>
    <form action="" method="post">

        <textarea id="" name="comment" rows="10" cols="40" placeholder="Skriv din kommentar her ..."></textarea>

        <br>
    </form>
    <!--    route to inquiry-contactinfo-and-drawing-->
    <button type="submit">Næste</button>
</form>


</body>
</html>