<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link th:href="@{https://fonts.cdnfonts.com/css/segoe-ui-variable}" rel="stylesheet"
          href="https://fonts.cdnfonts.com/css/segoe-ui-variable">

    <meta content="width=device-width, initial-scale=1" name="viewport"/>

    <link th:href="@{/css/global-styles.css}" rel="stylesheet" href="../public/css/global-styles.css">
    <link th:href="@{/css/login-style.css}" rel="stylesheet" href="../public/css/login-style.css">
    <link href="https://fonts.cdnfonts.com/css/segoe-ui-variable" rel="stylesheet">

    <title>Login</title>

</head>
<body>


<!--<a th:href="@{/forgotPassword}"></a>-->
<!--<a th:href="@{/createAccount}"></a>-->

<!-- en <form></form> er en sektion hvor user får lov til at få eller give data -->
<!-- "method" = er hvad metode skal være inde i vores <form></form>. altså om det skal værer "post" eller "get" >-->
<div class="login-page">

    <div class="login-box">
        <div class="all-item-inside-login-box">
            <img src="/images/foglogo.png" alt="Logo">
            <h1 class="h1-login-page fontfix">Log på</h1>

            <form class="user-box-form" method="post">
                <div class="all-inputs-and-loginbutton">

                    <div class="all-inputs">
                        <!--<h2 class="log-on-with-mail">Log på med din e-mailadresse</h2>-->

                        <input class="email-input fbody" type="email" name="email" placeholder="E-mailadresse" required>

                        <input class="password-input fbody" type="password" name="password" placeholder="Kodeord" required>


                        <p class="fontfix">
                            Har du ikke en bruger?
                            <a class="create-user-href fontfix" th:href="@{/opret-bruger}">Opret bruger</a>
                        </p>
                    </div>

                    <button class="login-button fbody" type="submit" formaction="login">Log ind</button>
                    <div th:if="${loginError}">
                        <p th:text="${loginError}"></p>
                        <p class="fbody fontfix">Har du glemt dit kodeord. Kontakt kundeservice</p>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>


</body>
</html>