/** {*/
/*    box-sizing: border-box;*/
/*    font-family: "Segoe UI Variable";*/
/*    text-decoration: none;*/
/*}*/

/*.h1, h1 {*/
/*    font-family: "Segoe UI Variable";*/
/*    font-weight: 400;*/
/*    font-size: 36px;*/
/*    color: #333333;*/
/*}*/

/*.h2, h2 {*/
/*    font-family: "Segoe UI Variable";*/
/*    font-weight: 500;*/
/*    font-size: 20px;*/
/*    color: #333333;*/
/*}*/

/*.fbody, p {*/
/*    font-family: "Segoe UI Variable";*/
/*    font-weight: 400;*/
/*    font-size: 14px;*/
/*    color: #333333;*/
/*}*/

/*.fbodybold {*/
/*    font-weight: 600;*/
/*}*/

/*.fontfix {*/
/*    margin-block-end: 0px;*/
/*    margin-block-start: 0px;*/
/*}*/




/*body {*/
/*    background-color: #F5F5F3;*/
/*}*/

.page {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 25px;
}

.elements {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    width: 74%;
}

.content-box {
    width: 100%;
    display: flex;
    padding: 32px 40px;
    background-color: #ffffff;
    gap: 16px;
    flex-direction: column;
}

.top-elements{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.left-side-elements {
    display: flex;
    flex-direction: row;
    width: 360px;
    flex-wrap: wrap;
}

.info {
    display: flex;
    flex-direction: column;
    width: 120px;
}

.right-side-elements {
    /*margin-left: 32px;*/
    gap: 32px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.bottom-elements {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.btn-link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-override:hover {
    background-color: #01478d;
}














.box {
    /*background-color: black;*/
    /*height: 100vh;*/
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    border-radius: 2px;
    border: none;
    width: 150px;
    height: 35px;
    margin: 2px;
}

.box a {
    /*padding: 15px;*/
    /*background-color: #fff;*/
    /*border-radius: 3px;*/
    text-decoration: none;
    color: #000;
}

.popup {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    display: none;
    align-items: center;
    justify-content: center;
}

.content {
    position: relative;
    background: #ffffff;
    padding: 1em 2em;
    border-radius: 4px;
    max-width: 75%;
    /*min-width: 50%;*/
    max-height: 90%;
}

.content-drawing {
    /*min-width: 50%;*/
    height: 80%;
    display: flex;
    justify-content: center;
}

.drawing {
    height: auto;
}

.popup:target {
    display: flex;
}

#grey {
    background-color: #A6A6A6;
    color: #555555;
    cursor: default;
}

.exit-popup {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #000000;
    font-size: 30px;
    text-decoration: none;
}

.drawing svg {
    height: 100%;
    /*width: 100%;*/
    /*max-height: 100%;*/
    /*max-width: 100%;*/
    /*display: block;*/
}





@media (max-width: 600px) {
    .top-elements {
        flex-direction: column;
        gap: 24px;
    }
    .right-side-elements {
        /*transform: scale(75%);*/
        justify-content: center;
        gap: 20px;
    }
    .left-side-elements {
        flex-direction: column;
        width: 100%;
    }
    .content-box {
        padding: 16px 20px;
        gap: 24px;
    }
    .info {
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
    }
    .bottom-elements{
        flex-direction: column;
        gap: 12px;
        align-items: flex-start;
    }
    .elements {
        width: 90%;
    }
    .content-drawing {
        height: auto;
    }
}